.container{
    height: 100vh;
    margin-right: auto;
    margin-left:  auto;

    max-width: 1350px;

    padding-right: 15px;
    padding-left:  15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 2px 4px
        rgba(27, 78, 163, 0.2),
        0px 4px 8px
        rgba(41, 121, 255, 0.2);
    border-radius: 4px;
}

.logo{
    margin: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    h3{
        display: flex;
        align-items: center;
        height: 40px;
        padding-left: 10px;
        font-size: 32px;
        margin: unset;
        font-weight: 400;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
        border-radius: 6px;
        p{  
            margin: unset;
            color: #FFFFFF;
            font-size: 32px;
        }
    }
  }

.form__block{
    display: flex;
    flex-direction: column;

    h3{  
        color: #2264D1;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        input{
            padding: 5px;
            outline: none;
            height: 35px;
            margin: 5px;
            width: 250px;
            border-style: solid;
            border-radius: 5px;
            border-color: #2979FF;
        }

        button{
            margin-top: 20px;
            height: 35px;
            font-weight: 600;
            font-size: 18px;
            transition: .4s;
            color: #2264D1;
            width: 100%;
            border-style: none;
            background: #FFFFFF;
            box-shadow: 0px 2px 4px
              rgba(27, 78, 163, 0.2),
              0px 4px 8px
              rgba(41, 121, 255, 0.2);
            border-radius: 4px;
        }
        
        button:hover{
            transition: .4s;
            color: white;
            background: #2264D1;
            box-shadow: 0px 2px 4px
              rgba(27, 78, 163, 0.2),
              0px 4px 8px
              rgba(41, 121, 255, 0.2);
            cursor: pointer;
        }

        
    }

    p{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 15px;
        a{
            margin: 5px;
            color: #2264D1;
            text-decoration: underline;
        }
    }
}