.container {
  margin-right: auto;
  margin-left:  auto;

  max-width: 1350px;

  padding-right: 15px;
  padding-left:  15px;
}

.content{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.categories{
  margin-top: 15px;

  .filtres{
    position: sticky;
    top: 0;
    padding: 30px;
    width: max-content;
    transition: .1s;
    border-radius: 10px;
    box-shadow: 0px 2px 4px
      rgba(27, 78, 163, 0.2),
      0px 4px 8px
      rgba(41, 121, 255, 0.2);

    div{
      margin: 5px;
      height: 2px;
      width: 100%;
      background-color: #2264D1;
    }
  }
  li{
    list-style-type:circle;
    a:hover{
      color: #2264D1;
      transition: .3s;
      cursor: pointer;
    }
  
  }
  p{
    font-size: 18px;
    color: #2264D1;
    margin: unset;
  }
}

.wrapper{
  margin-left: 50px;
  width: 100%;
  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.none__products{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    font-size: 25px;

  }
}