.container {
  margin-right: auto;
  margin-left:  auto;

  max-width: 1200px;

  padding-right: 10px;
  padding-left:  10px;
}

.main {
  
}

.navbar{
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search__field{
  padding: 25px;
  width: 650px;
  height: 50px;
  border-radius: 99px;
  background-color: #EDEDF0;
  display: flex;
  align-items: center;


  .input__set{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input{
    margin: 10px;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 20px;
  }
}

.login__btn{
  button{
    font-weight: 600;
    transition: .4s;
    color: #2264D1;
    width: max-content;
    padding: 10px;
    font-size: 20px;
    border-style: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px
      rgba(27, 78, 163, 0.2),
      0px 4px 8px
      rgba(41, 121, 255, 0.2);
    border-radius: 4px;
  }

  button:hover{
    transition: .4s;
    color: white;
    background: #2264D1;
    box-shadow: 0px 2px 4px
      rgba(27, 78, 163, 0.2),
      0px 4px 8px
      rgba(41, 121, 255, 0.2);
    cursor: pointer;
  }
  
}
.content{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.categories{
  
  margin-top: 15px;

  .filtres{
    position: sticky;
    top: 0;
    padding: 30px;
    width: max-content;
    transition: .1s;
    border-radius: 10px;
    box-shadow: 0px 2px 4px
      rgba(27, 78, 163, 0.2),
      0px 4px 8px
      rgba(41, 121, 255, 0.2);

    div{
      margin: 5px;
      height: 2px;
      width: 100%;
      background-color: #2264D1;
    }
  }
  li{
    list-style-type:circle;

  
  }
  p{
    font-size: 18px;
    color: #2264D1;
    margin: unset;
  }
}

.wrapper{
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
  .products{
    display: flex;
    flex-wrap: wrap;
  }
}