.container{
    margin: 15px;
    width: 250px;
    height: 400px;
    box-shadow: 0px 2px 4px
      rgba(27, 78, 163, 0.2),
      0px 4px 8px
      rgba(41, 121, 255, 0.2);
    border-radius: 5px;

    button{
        font-weight: 600;
        transition: .4s;
        color: #2264D1;
        width: max-content;
        padding: 10px;
        font-size: 20px;
        border-style: none;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px
          rgba(27, 78, 163, 0.2),
          0px 4px 8px
          rgba(41, 121, 255, 0.2);
        border-radius: 4px;
      }
    
    button:hover{
        transition: .4s;
        color: white;
        background: #2264D1;
        box-shadow: 0px 2px 4px
            rgba(27, 78, 163, 0.2),
            0px 4px 8px
            rgba(41, 121, 255, 0.2);
        cursor: pointer;
    }

    div{
        display: flex;
        justify-content: center;
    }
}